.footer__footer_bg {
  background-image: url(../img/back_2.png);
  background-position: center center;
  -webkit-background-size: cover;
          background-size: cover;
  height: 130px;
  position: absolute;
  width: 100%;
  z-index: 1; }
  .footer__footer_bg::before {
    background-color: #1f2531;
    bottom: 0;
    content: "";
    height: 130px;
    left: 0;
    opacity: 0.6;
    position: absolute;
    right: 0;
    top: 0; }
