mixin gen_set(data)
	+b.gen_set
		+e.wrap
			+b.form
				+e.form-line-wrap
					+e.P.form-text Название:
					+e.INPUT.form-input(type="text")
				+e.form-line-wrap
					+e.P.form-text Вконтакте:
					+e.INPUT.form-input(type="text")
				+e.form-line-wrap
					+e.P.form-text Facebook:
					+e.INPUT.form-input
				+e.form-line-wrap
					+e.P.form-text Google+:
					+e.INPUT.form-input
				+e.form-line-wrap
					+e.P.form-text Twitter:
					+e.INPUT.form-input

