extends template

block head
	head
		+head({
			"title": "Название - Корзина",
			"author": "Tera",
			"description": "Корзина Название"
		})

block header
	+header({
		"title_name": "Название",
		"menu_arr": {'index.html': 'Главная', 'menu.html': 'Меню','cart.html': 'Корзина', 'contacts.html': 'Контакты'},
		"page_name": "Корзина"
	})

block content
	+cart-content({
		"cart": {
			"1": {
						"title"	 : "Томатный суп",
						"cost" 	 : "300р",
						"img"		 : "img/tomato-soup.png"
						},
			"2": {
						"title"	 : "ЧупЧуп",
						"cost" 	 : "350р",
						"img"		 : "img/tomato-soup.png"
						},
			"3": {
						"title"	 : "Суп3",
						"cost" 	 : "450р",
						"img"		 : "img/tomato-soup.png"
						}
		}
	})

block footer
	+footer({
	"bg_check": "1",
	"vk_link": "#1",
	"fc_link": "#2",
	"g_link": "#3",
	"tw_link": "#4"
	})



