extends template

block head
	head
		+head({
			"title": "Название - Корзина",
			"author": "Tera",
			"description": "Корзина Название"
		})

block header
	+header({
		"title_name": "Название",
		"menu_arr": {'#1': 'Главная', 'index.html': 'Меню','cart.html': 'Корзина', 'contacts.html': 'Контакты'},
		"page_name": "Меню"
	})

block content
	+contacts-content({})

block footer
	+footer({
	"vk_link": "#1",
	"fc_link": "#2",
	"g_link": "#3",
	"tw_link": "#4"
	})



