extends template

block head
	head
		+head({
			"title": "Название - Контакты",
			"author": "Tera",
			"description": "Контакты Название"
		})

block header
	+header({
		"bg_check": "1",
		"title_name": "Название",
		"menu_arr": {'index.html': 'Главная', 'menu.html': 'Меню','cart.html': 'Корзина', 'contacts.html': 'Контакты'},
		"page_name": "Контакты"
	})

block content
	+contacts-content({
		"address" : "г. Город ул. Улица д. 8",
		"tel"     : "+7 (999) 999-99-99",
		"mail"		: "mail.com"
	})

block footer
	+footer({
	"bg_check": "1",
	"vk_link": "#1",
	"fc_link": "#2",
	"g_link": "#3",
	"tw_link": "#4"
	})



