extends template

block head
	head
		+head({
			"title": "Название - Главная",
			"author": "Tera",
			"description": "Главная Название"
		})

block header
	+b.main-back
	+header({
		"title_name": "Название",
		"menu_arr": {'index.html': 'Главная', 'menu.html': 'Меню','cart.html': 'Корзина', 'contacts.html': 'Контакты'},
		"page_name": ""
	})

block content
	+e.main-wrap
		+main-page({
			"title"		: "Мы открылись!",
			"tagline" : "Слоган слоган Слогоанваыпып э"
		})

block footer
	+footer({
	"vk_link": "#1",
	"fc_link": "#2",
	"g_link": "#3",
	"tw_link": "#4"
	})