extends template

block head
	head
		+head({
			"title": "Название - Меню",
			"author": "Tera",
			"description": "Меню Название"
		})

block header
		+header({
			"title_name": "Название",
			"menu_arr": {'#1': 'Главная', '#2': 'Меню','#3': 'Главная', '#4': 'Меню'},
			"page_name": "Меню"
		})




