extends template

block head
	head
		+head({
			"title": "Название - Меню",
			"author": "Tera",
			"description": "Меню Название"
		})

block header
	+header({
		"title_name": "Название",
		"menu_arr": {'#1': 'Главная', 'index.html': 'Меню','cart.html': 'Корзина', '#4': 'Контакты'},
		"page_name": "Меню"
	})

block content
	+menu-content({
		"left_bar": [
				"Первые блюда", "Вторые блюда", "III блюда", "Компот"
		],
		"menu": {
			"1": {
						"title"	 : "Томатный суп",
						"cost" 	 : "300р",
						"desc" 	 : "ингридиент-1, ингиеыыснт-2, ингридиент-3",
						"weight" : "300г",
						"img"		 : "img/tomato-soup.png"
						},
			"2": {
						"title"	 : "ЧупЧуп",
						"cost" 	 : "350р",
						"desc" 	 : "ингридиент-1, ингиеыыснт-2, ингридиент-3",
						"weight" : "200г",
						"img"		 : "img/tomato-soup.png"
						},
			"3": {
						"title"	 : "Суп3",
						"cost" 	 : "450р",
						"desc" 	 : "ингридиент-1, ингиеыыснт-2, ингридиент-3",
						"weight" : "200г",
						"img"		 : "img/tomato-soup.png"
						}
		}
	})

block footer
	+footer({
	"vk_link": "#1",
	"fc_link": "#2",
	"g_link": "#3",
	"tw_link": "#4"
	})



