include _assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include head/head
include header/header
include main/main-page
include menu-content/menu-content
include cart-content/cart-content
include contacts-content/contacts-content
include footer/footer

doctype html
html(lang="ru")
	block head
	
	+b.BODY.page
		+e.head-content-wrap
			block header
				
			block content
			block main-content
		block footer
			
		block vendors
			// build:js js/vendor.js
			script(src="libs/fontawesome-all.js")
			script(src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full")
			// endbuild
		block scripts
			// build:js js/main.js
			script( src="js/main.js")
			// endbuild