mixin contacts-content(data)
	+b.contacts-content-wrap
		+b.contacts
			+e.line-wrap
				+e.I.icon.fas.fa-home
				+e.P.text г. Город ул. Улица д. 8
			+e.line-wrap
				+e.I.icon.fas.fa-mobile-alt
				+e.P.text +7 (999) 999-99-99
			+e.line-wrap
				+e.I.icon.far.fa-envelope
				+e.P.text г. Город ул. Улица д. 8
	+b.map#map