mixin contacts-content(data)
	+b.contacts-content-wrap
		+b.contacts
			+e.line-wrap
				+e.I.icon.fas.fa-home
				+e.P.text= data.address
			+e.line-wrap
				+e.I.icon.fas.fa-mobile-alt
				+e.P.text= data.tel
			+e.line-wrap
				+e.I.icon.far.fa-envelope
				+e.P.text= data.mail
	+b.map#map