@import "vars"


/*==========  Desktop First  ==========*/


//Extra large: ≥1200px
+media-breakpoint-down(xl)

//Large: ≥992px
+media-breakpoint-down(lg)

//Medium: ≥768px
+media-breakpoint-down(md)
	.item-desc-wrap
		padding-bottom: 0
		font-size: 12px
	.item-func-wrap
		padding-top: 0
	.item-title-wrap
		&__item-title
			font-size: 14px
			line-height: 28px
	.item-cost-wrap
		&__item-cost
			font-size: 14px
			line-height: 28px
	.item-quan
		&__inp
			width: 15px
		&__quan-control
			width: 25px
	.in-cart-wrap
		&__in-cart
		p
			font-size: 9px
	.fa-shopping-cart 
		font-size: 16px

//Small: ≥576px
+media-breakpoint-down(sm)
	

//Extra small: >0
+media-breakpoint-down(xs)
	.footer
		top: 30px
	.form-wrap
		&__form-head
			font-size: 16px
	.form
		&__form-text
			font-size: 16px
	.item-desc-wrap
		padding-bottom: 10px
		font-size: 16px
	.item-title-wrap
		&__item-title
			font-size: 18px
			line-height: 36px
	.item-cost-wrap
		&__item-cost
			font-size: 18px
			line-height: 36px
	.item-quan
		&__inp
			width: 40px
		&__quan-control
			width: 35px
	.in-cart-wrap
		&__in-cart
		p
			font-size: 14px
	.fa-shopping-cart 
		font-size: 20px
	.menu-content-wrap
		display: block

	// DropDown Menu
	.left-bar
		width: 100%
		margin-bottom: 10px
		&__toggle-left-bar
			display: block
		&__menu
			position: absolute
			width: 100%
			top: 0
			li
				display: block
				position: absolute
				top: 0
				width: 100%
				&:nth-child(1)
					background-color: rgba(31, 37, 49, 0.90)
					z-index: 4
				&:nth-child(2)
					background-color: rgba(31, 37, 49, 0.90)
					z-index: 3
				&:nth-child(3)
					background-color: rgba(31, 37, 49, 0.90)
					z-index: 2
				&:nth-child(4)
					background-color: rgba(31, 37, 49, 0.90)
					z-index: 1
		
	.burger
		display: block
	.main_menu
		display: none
	.page_name
		bottom: 0px
	.header_content
		height: 190px
	.header
		&__header_bg
			height: 190px
			&::before
				height: 190px
	
	// CART		
	.cart-item
		&__title-cost-quan-allcost-wrap
			width: 145px
			flex-direction: column
		&__title-cost-quan-wrap
			flex-direction: column
		&__item-title
			font-size: 20px
		&__item-cost,&__all-item-cost
			font-size: 18px


/*==========  Mobile First  ==========*/

//Extra small: <576px
+media-breakpoint-up(xs)
		
//Small: ≤576px
+media-breakpoint-up(sm)

//Medium: ≤768px
+media-breakpoint-up(md)

//Large: ≤992px
+media-breakpoint-up(lg)

//Extra large: ≤1200px
+media-breakpoint-up(xl)
