mixin menu-content(data)
	+b.menu-content-wrap
		+b.left-bar
			+b.UL
				li sdsds
				li cscscs
		+b.right-bar
			.row
				.col-md-4.col-sm-6 scscsccs
				.col-md-4.col-sm-6 qwewrt
				.col-md-4.col-sm-6 scscsccs
				.col-md-4.col-sm-6 scscsccs
				.col-md-4.col-sm-6 qwewrt
				.col-md-4.col-sm-6 scscscc
				.col-md-4.col-sm-6 scscscc