include menu-item/menu-item

mixin menu-content(data)
	+b.menu-content-wrap
		+b.left-bar
			+b.UL
				li Первое
				li Второе
				li Компот
		+b.right-bar
			.row
				each val in data.menu
					.col-lg-4.col-md-6.col-sm-6.item
						+menu-item({
							'title': val
						})